  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    /* position: relative; */
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* GRID */
  .container{
    max-width: 120rem;
    margin:0 auto;
    padding:1.5rem;
  }
  /* HEADER */
  .header{
    
    background: #2b2b2b;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    
  }
 .header .branding h3{
 color: #ffffff;
 font-size: 2.5rem;
 font-weight: 600;
}
.header .branding h3 span{
    color: #ffa700;
}
.header .branding{
    display: flex;
    align-items: center;
    gap: 2rem
}
.header .header__nav ul li a{
    color:#ffffff;
    font-size: 1.8rem;
}
.header .header__nav ul{
    display: flex;
align-items: center;
gap: 2.5rem;
}
.header .header__nav ul li:hover a{
    color: #ffa700; 
}
.header .header__nav ul li:hover{
    scale: 1.1;
    transition: .5s ease;
}
.header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .toggle__menu{
  display: none;
}
.header .toggle__menu span{
  width:3rem;
  height:.3rem;
  border-radius:5rem;
  background-color:#ffa700;
  display: block;
  transition: 0.5s ease;
}
.header .toggle__menu span:nth-child(2){
  margin:.5rem 0;
}
.header .toggle__menu.open span:first-child{
  transform: translateY(10px) rotate(225deg);
  transition: 0.5s ease;
}
.header .toggle__menu.open span:nth-child(2){
opacity: 0;
}
.header .toggle__menu.open span:last-child{
  transform: translateY(-7px) rotate(-225deg);
  transition: 0.5s ease;
}
.header .header__nav.open{
  right: 0rem;
  transition: 0.5s ease;
}
/* HEADER MOBILE VIEW */
@media screen and (max-width:500px){
.header .header__nav{
  background: #2b2b2b;
  position: absolute;
  right: -100rem;
  top: 8rem;
  width: 100%;
  height: 100vh;
  padding-top: 10rem;
  transition: 0.5s ease;
}
.header .header__nav ul{
  display: flex;
  flex-direction: column;
}
.header .branding img{
  width: 5rem;
}
.header .toggle__menu{
  display: block;
}
}
/* banner */
.banner{
  padding-top: 13rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.banner .banner__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner .banner__text h1 {
  font-size:10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.banner .banner__text p{
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
@media screen and (max-width:500px){
  .banner{
    padding-left:2rem;
    padding-right:2rem;
  }
  .banner .banner__wrapper {
    display:grid;
    grid-template-columns:1fr;
  }
  .banner .banner__text{
    order:2;
  }
  .banner .banner__text h1{
    font-size:3rem;
    text-align: center;
  }
  .banner .banner__text a{
    display:flex;
    width:fit-content;
    margin:0 auto;
  }
  .banner img{
    width:20rem;
    margin:0 auto;
  }
}




/* SRV */
.srvc {
  background: #2b2b2b;
  padding: 5rem 0;
}
.srvc .srvc__wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 8rem;
}
.srvc .srvc__card{
  text-align: center;
}
.srvc .srvc__card i{
  color: #ffa700;
  font-size: 5rem;
}
.srvc .srvc__card h4 {
  color: #ffa700;
  font-size: 1.8;
  font-weight: 600;
  margin: 2rem 0;
}
.srvc .srvc__card p {
color: #ffffff;
margin-bottom: 5rem;
text-align: justify;
}

@media screen and (max-width:500px){
  .srvc .srvc__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2rem;
    gap: 15rem;
  }
}

/* LATEST */
.latest{
  background: #2b2b2b;
padding: 5rem 0;

}
.latest .latest__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;

}
.latest .latest__title  h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.latest .latest__title{
  margin-bottom: 8rem;
}
.latest .latest__card{
  background: #ffffff;
  border-radius: 2rem;
}
.latest .latest__text{
  padding: 1.5rem 2rem;
}
.latest .latest__text h4{
  color: #ffa700;
  font-weight: 600;
}
.latest .latest__text p{
  margin-top: 2rem;
  margin-bottom: 4rem;



}
.latest .latest__text a{
  color: #ffa700;
}
@media screen and (max-width:500px){
  .latest .latest__title {
    text-align: center;
  }
  .latest .latest__title h2{
    font-size: 4rem;
  }
  .latest .latest__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .latest .latest__card{
    margin: 0 2rem;
  }
  .latest .latest__card img{
    width: 100%;
  }
}

/* SECTION 4 */
.free{
  background: #ffa700;
  padding:6rem;
}
.free .free__wrapper{
  text-align: center;
}
.free .free__wrapper h3 {
  font-size: 3rem;
  font-weight: 600;
}
.free .free__wrapper p{
  text-align: center;
  margin-bottom: 4rem;
}
.free .free__wrapper a{
  color: #ffffff;
  background-color: #2b2b2b;
  max-width: 200px;
  padding: 1.5rem 2rem;
  border-radius: 3rem;
}

/* MOBILEVIEW */
@media screen and (max-width:500px){
  .free{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:5rem
  }
  .free .free__wrapper h3{
    font-size:3rem;
  }
  .free .free__wrapper p{
    display: flex;
    padding-top:2rem;
  }
}

/* FOOTER SECTIOON*/
.footer {
  background: #2b2b2b;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__social {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
}
.footer .footer__wrapper ul li a {
  color: dimgray;
  font-size: 2.5rem;
}
.footer .footer__wrapper ul {
  display: flex;
  gap: 1.25rem;
}
.footer p {
  color: dimgray;
  display: flex;
  align-items: center;
}

@media screen and (max-width:500px){
  .footer .footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  .footer .footer__social ul{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
  }
  


/* @media screen and (max-width:500px){
.footer .footer__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.footer .footer__social ul{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
} */

 /* @media screen and (max-width:500px){
  .footer .footer__wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .footer__wrapper ul{
    padding-top: 1.5rem;
  }
} */ 
  

  /* .free .free__nav{
    background: #2b2b2b;
    position: absolute;
    right: -100rem;
    top: 8rem;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    transition: 0.5s ease;
  } */

/* REPEATABLE PATTER */
/* .btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
}
.btn.bg--primary{
background: #ffa700;
} */
 
/* ABOUT ME */

/* SECTION3 */
.aboutme {
  padding-top: 10rem;
}
.aboutme .aboutme__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
}
.aboutme .aboutme__wrapper > :nth-child(1) {
  order: 2;
}
.aboutme .aboutme__wrapper > :nth-child(2) {
  order: 1;
}
.aboutme .aboutme__text h1{
   font-size: 3rem;
  font-weight: 700;
  color: #ffa700;
  line-height: 1;
}
.aboutme .aboutme__text p {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
/* Mobileview */
@media screen and (max-width:500px){
  .aboutme{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aboutme .aboutme__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutme .aboutme__text {
    order: 2;
  }
  .aboutme .aboutme__text h1 {
    font-size: 3rem;
    text-align: center;
  }
  .aboutme .aboutme__text a {
    display: flex;
    width: fit-content;
    margin: 0% auto;
  }
  .banner img {
    width:20rem;
    margin: 0 auto;
  }
}




/* banner5 */
.banner5{
  padding-top: 13rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.banner5 .banner5__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner5 .banner5__text h1 {
  font-size:10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.banner5 .banner5__text p{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}
/* .banner5 .banner5__wrapper ul li a {
  color: #ffa700;
  font-size: 2rem; */

  
  

  
/* } */
.banner5 .banner5__wrapper ul li a {
  color: #ffa700;
  font-size: 2.5rem;
}
.banner5 .banner5__wrapper ul {
  display: flex;
  gap: 1.25rem;
}

.banner5 .banner5__wrapper ul li i {
  color: #ffa700;
  font-size: 2.5rem;
  align-items: center;
}
/* .banner5 .banner5__wrapper ul {
  display: flex;
  gap: 1.25rem; */
.banner5 .arrow{
  color: #ffa700;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

  .banner5 .arrow__wrapper ul {
    gap: 1.25rem;
  align-items: center;

  }
  .banner5 .banner5__wrapper ul li a {
    color: #ffa700;
    align-items: center;
    font-size: 2rem;
  }


@media screen and (max-width:500px){
  .banner5{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner5 .banner5__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner5 .banner5__text {
    order: 2;
  }
  .banner5 .banner5__text h1{
    font-size: 3rem;
    text-align: center;
  }
  .banner5 .banner5__text a{
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .banner5 img{
    width: 20rem;
    margin: 0 25%;
   /* margin:0 auto; */
  }
  
    .banner5 .banner5__wrapper ul li a {
      color: #ffa700;
      font-size: 2rem;
    }
    .banner5 .arrow{
      color: #ffa700;
      font-size: 3.5rem;
      display: flex;
      justify-content: center;
      justify-items: center;
    }
  } 


  /* projects */
/* .project{
  background: #2b2b2b;
padding: 5rem 0;

}
.project .project__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;

}
.project .project__title  h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.project .project__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.project .project__title{
  margin-bottom: 8rem;
}
.project .project__card{
  background: #ffffff;
  border-radius: 2rem;
}
.project .project__text{
  padding: 1.5rem 2rem;
}
.project .project__text h4{
  color: #ffa700;
  font-weight: 600;
}
.project .project__text p{
  margin-top: 2rem;
  margin-bottom: 4rem;



}
.latest .latest__text a{
  color: #ffa700;
}
/* @media screen and (max-width:500px){
  .latest .latest__title {
    text-align: center;
  }
  .latest .latest__title h2{
    font-size: 4rem;
  }
  .latest .latest__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .latest .latest__card{
    margin: 0 2rem;
  }
  .latest .latest__card img{
    width: 100%;

  }} */ 

  /* LATEST
.project{
  background: #2b2b2b;
padding: 5rem 0;

}
.project .project__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;

}
.project .project__title  h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.project .project__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.project .project__title{
  margin-bottom: 8rem;
}
.project .project__card{
  background: #ffffff;
  border-radius: 2rem;
}
.project .project__text{
  padding: 1.5rem 2rem;
}
.project .project__text h4{
  color: #ffa700;
  font-weight: 600;
}
.project .project__text p{
  margin-top: 2rem;
  margin-bottom: 4rem; */

  /* project */
.project{
  background: #2b2b2b;
  padding-top: 4rem;
  padding-bottom: 10rem;
}
  .project .project__wrapper{
    display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:5rem;}

.project .project__title h2{
  color:#ffa700;
  font-size:5rem;
  font-weight:800;
  height: auto;
}
.project .project__title p{
  color:#ffffff;
  font-size:2.5rem;
}
.project .project__title{
  margin-bottom:8rem;
}
.project .project__card{
  background:#ffffff;
  border-radius:2rem;
  margin-bottom: auto;
}
.project .project__text{
  padding:1.5rem 2rem;
}
.project .project__text h4{
  color:#ffa700;
  font-weight:600;
}
.project .project__text p{
  margin-top:2rem;
}
.project .project__text a{
  color:#ffa700;
}
  @media screen and (max-width:500px){
    .project .project__title {
      text-align: center;
    }
    .project .project__title h2{
      font-size: 4rem;
    }
    .project .project__wrapper{
      display: grid;
      grid-template-columns: 1fr;
    }
    .project .project__card{
      margin: 0 2rem;
    }
    .project .project__card img{
      width: 100%;
  
    }}



/* REPEATABLE PATTERNS */
/* .btn{
  display:inline-block;
  padding:1.5rem 2rem;
  border-radius:5rem;
  color:#ffffff; 
}
.btn:hover{
  scale:1.1;
}
.btn.bg--primary{
background:#ffa700;
}
.btn.bg--secondary{
background:#2b2b2b;
} */






/* service */
/* .service{ */
  /* padding-top: 15rem;
  padding-bottom: 5rem;
  background: #ffffff;
  
}
.service .service__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap: 5rem;
  max-width: 1000px;
  margin: 0 auto;
}
.service .service__text h2 {
  font-size:5rem;
  font-weight: 650;
  color: #ffa700;
  line-height: 1;
}

.service .service__text h4{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 300;
  text-align: left;
}
.service .service__text h6{
  font-size: 1rem;
  font-weight: 200rem;
  text-align: left;
}

.service .service__text p{
  font-size: 2rem;
  font-weight: 500rem;
  color: #2b2b2b;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  padding-top: 3rem;
}




.service .arrow{
  color: #ffa700;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

  .service .arrow__wrapper ul {
    gap: 1rem;
  align-items: center;
  margin-bottom: auto;

  }
  
  


@media screen and (max-width:500px){
  .service{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .service .service__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .service .service__text {
    order: 2;
   
  }
  .service .service__text h2{
    font-size: 3rem;
    text-align: center;
  }

  .service .service__text h4
{
  font-size: 5rem;
  text-align: center; */
/* } */

  /* .service .service__text a{
    display: flex;
    width: fit-content;
    margin: 0 auto;
  } */
  /* .service img{
    width: 20rem;
    margin: 0 25%; */
   /* margin:0 auto; */
  /* } */
  
    /* .service .service__wrapper ul li a {
      color: #ffa700;
      font-size: 2rem;
    } */
    /* .service .arrow{
      color: #ffa700;
      font-size: 3.5rem;
      display: flex;
      justify-content: center;
      justify-items: center;
    }
  
  .service .service__text h6{
    font-size: 1rem;
    font-weight: 200rem;
    text-align: left;
  }
  
  .service .service__text p{
    font-size: 2rem;
    font-weight: 500rem;
    color: #2b2b2b;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    padding-top: 3rem;
   
  }
} */


/* service */
/* .service2{
  padding-top: 15rem;
  padding-bottom: 5rem; 
  background: #2b2b2b;
  flex-direction: row-reverse;
}

.service2 .service2__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
  max-width: 1000px;
  margin: 0 auto; 
} */


/* .service2 .service2__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap: 5rem;
  max-width: 1000px;
  margin: 0 auto;} */
  
/* .service2 {
  background-color: #2b2b2b;
  padding-top: 10rem;
}

 .service2 .service2__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
  margin: 0 auto; 
}

/* .service2 .service2__wrapper > :nth-child(1) {
  order: 2;
}
.service2 .service2__wrapper > :nth-child(2) {
  order: 1;
} */
/* .service2 .service2__text h1{
   font-size: 3rem;
  font-weight: 700;
  color: #ffa700;
  line-height: 1;
}
.service2 .service2__text p {
  color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify; */
/* } */

 /* .service .service__text h2 {
  font-size:5rem;
  font-weight: 650;
  color: #ffa700;
  line-height: 1;
} 

.service2 .service2__text h4{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 300;
  
}
.service2 .service2__text h6{
  font-size: 1rem;
  font-weight: 200rem;
  color: #ffffff;
  
}

.service2 .service2__text p{
  font-size: 2rem;
  font-weight: 500rem;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  padding-top: 3rem;
 
} */
/* .service2 .service2__text p{
  font-size: 2rem;
  font-weight: 500rem;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  padding-top: 3rem;
}

.service .service__text h1 {
  font-size:5rem;
  font-weight: 650;
  color: #ffa700;
  line-height: 1;
} 


.service2 .service2__text h4{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 300;
  
}

.service2 .service2__text h6{
  font-size: 1rem;
  font-weight: 200rem;
  color: #ffffff;
  
}


.service .arrow{
  color: #ffa700;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

  .service .arrow__wrapper ul {
    gap: 1rem;
  align-items: center;
  margin-bottom: auto;

  } */
  

  /* service3 */
/* .service3{
  padding-top: 15rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.service3 .service3__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap: 5rem;
  max-width: 1000px;
  margin: 0 auto;
}
.service3 .service3__text h2 {
  font-size:5rem;
  font-weight: 650;
  color: #ffa700;
  line-height: 1;
}

.service3 .service3__text h4{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 300;
  text-align: left;
}
.service3 .service3__text h6{
  font-size: 1rem;
  font-weight: 200rem;
  text-align: left;
}

.service3 .service3__text p{
  font-size: 2rem;
  font-weight: 500rem;
  color: #2b2b2b;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  padding-top: 3rem;
}







@media screen and (max-width:500px){
  .service3{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .service3 .service3__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .service3 .service3__text {
    order: 2;
  }
  .service3 .service3__text h2 {
    font-size: 3rem;
    text-align: center;
    color: #ffa700;
  }

  .service3 .service3__text h4
{
  font-size: 5rem;
  text-align: center;
}
.service3 .service3__text h6{
  font-size: 1rem;
  font-weight: 200rem;
  text-align: left;
}

.service3 .service3__text p{
  font-size: 2rem;
  font-weight: 500rem;
  color: #2b2b2b;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  padding-top: 3rem;
 
}
  
  .service3 img{
    width: 20rem;
    margin: 0 25%;
   margin:0 auto;
  }
   */
    
    
  
  
/* } */

/* services */
.service2 {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background: #ffffff;
}
.service2 .service2__wrapper {
  display: flex;
  align-items: center;
  max-width: 117rem;
  margin: 0 auto;
  gap: 5rem;
}

.service2 .service2__text h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
  font-weight: 800;
  color: #ffa700;
}
.service2 .service2__text p {
  text-align: justify;
  margin-bottom: 0;
  margin-top: 2rem;
}
.service2 .service2__text h2 {
  font-size: 4rem;
  font-weight: 200;
  color: #ffa700;
}
.service2 .service2__text h6 {
  font-size: 1rem;
  color: #2b2b2b;
}
.service2 img {
  /* padding-left: 8rem; */
  padding-top: 6rem;
}
/* .service1 .arrow:last-child a {
  display: none;
}
  .arrow:nth-child(even){
background: #2b2b2b;
} */
.services1:nth-child(even) {
  background-color: #2b2b2b;
  color: #ffffff;
}
.services1:nth-child(even) h6{
  color: #ffffff;
}
.services1:nth-child(even) .service2__wrapper {
  flex-direction: row-reverse;
}
/* .services2:last-child{
  display: none;
} */
.services1 .nyarrow {
  color: #ffa700;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 4rem;
}
.services1:last-child a{
display: none;
}

/* service */
@media screen and (max-width: 500px) {
  .service2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  .service2 .service2__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .service2 .service2__text {
    order: 2;
  }
  .service2 .service2__text h1 {
    font-size: 5rem;
    text-align: center;
    font-size: 4rem;
  }
  .service2 .service2__text p {
    text-align: justify;
  }
  .service2 img {
    width: 25rem;
    margin: 6rem;
  }
}

/* update */

/* Updater */
.Updater{
  background: #ffffff;
  padding-top:13rem;
}
.Updater .Updater__wrapper {
  border-bottom: 1px solid #d3d3d3;
}
/* .Updater .Updater__category:first-child{
  padding-bottom: 5rem;
}
.Updater .Updater__category:not(:first-child){
  padding: 5rem 0;
} */


/* .Updater .Updater__category, .Updater .Updater__post {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10rem;
  margin-top: 10rem;
} */


/* 
.updater .updater:not(:first-child){
  padding: 3rem 0;
} */
/* .updater .updater__post:last-child{
  border-bottom: none;
}
.updater .updater__recent{
  border-bottom: 1px solid #2b2b2b;
}
.updater .updater__recent:not(:first-child){
  padding: 3rem 0;
}
.updater .updater__recent:last-child{
  border-bottom: none;
} */
   


.Updater .Updater__title h2{
color: #ffa700;
font-size: 5rem;
font-weight: 600;
}

.Updater .Updater__title p{
  font-size: 1.8rem;
  padding-bottom: 5rem;
}
.Updater .Updater__content{
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 3rem;
}
.Updater .Updater__post p{
  font-size: 1.5rem;
  text-align: justify;
  padding-bottom: 2rem;
}
.Updater .Updater__post ul{
display: flex;
flex-direction: row;
gap: 3rem;
padding-top: 1.5rem;
}
.Updater .Updater__post h4{
color: #ffa700;
font-size: 2.5rem;
font-weight: 600;
/* padding-bottom: 2rem; */
}
.Updater .Updater__post a{
  color: #ffa700;

}
.Updater .Updater__category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 6rem;
  font-weight: 600;
  padding-bottom: 10rem;
  padding-top: .5rem;
}
.Updater .Updater__category .name h5{
  color: #ffa700;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}
.Updater .Updater__category .name p{
  padding: 1rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
  font-size: 1.5rem;
 
}
.Updater .Updater__category .number p{
  padding: 1rem;
  display: flex;
  justify-content: end;
}
.Updater .Updater__category .number{
  
  padding: 1rem;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  gap: 1rem;
  font-size: 1.5rem;
}
.Updater .recent__card{
  display: flex;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  gap: 10px;
}
/* .Updater .recent__card{
  display: flex;
} */
 /* .Updater .Updater__recent .hr{
  color: darkgray;
 } */
.Updater .Updater__recent h5{
  color: #ffa700;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 6rem;
  padding-bottom: 7rem;
  margin-top: 10rem;
  padding-left: 1.5rem;
}
.Updater .recent__card h6{
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}
.Updater .recent__card p{
  padding-bottom: 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  /* padding-left: 29rem;
  margin: 0 auto; */
}





.Updater .Updater__buttons h5{
  color: #ffa700;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
  padding-left: 1.5rem;
  /* gap: 100rem; */
  padding-bottom: 2rem;
  padding-top: 2rem;
  /* display: grid; */
  
}
.Updater .Updater__buttons ul{
  display: flex;
  width: 40rem;
  flex-wrap: wrap;
}
.Updater .Updater__buttons ul li a{
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: #2b2b2b;
  background: #ffffff;
  border: 1.5px solid #2b2b2b;
  margin-left: 3rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 750;
  font-size:  1.85rem;
}
.Updater .Updater__buttons ul li:hover a {
  background-color: #2b2b2b;
  color: #ffffff;
}


@media screen and (max-width: 500px) {
  .Updater .Updater__content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  }
  .Updater .Updater__title{
  text-align: center; 
  }
}
/* @media screen and (max-width: 500px) {
  .updater .container {
    display: block;
    padding-top: 10rem; 
  }

  .updater__wrapper {
    flex: none; 
    margin-bottom: 2rem; 
  }

  .sidepannel {
    flex: none;
    margin-top: 2rem;
    padding-top: 0;
  }

  .updater__post h2 {
    font-size: 1.5rem; 
  }

  .updater__post p {
    font-size: 0.9rem; 
    padding-bottom: 1.5rem;
  }

  .sidepannel .category ul, .sidepannel .tags ul {
    flex-direction: row;
    padding-left: 2rem;
  }

  .sidepannel .category ul li, .sidepannel .tags ul li {
    margin-bottom: 10px;
  }

  .recent__items {
    flex-direction: row; 
    align-items: center;
  }

  .recent__items img {
    width: 30%; 
    height: auto;
  }

  .recent_text a {
    font-size: 1rem; 
  }
  
  .tags a {
    font-size: 1rem; 
    padding: 6px 12px;
  }

 .sidepannel .category_title h2, .tags h3 {
    font-size: 1.5rem; 
  }

  .separator {
    margin: 1.5rem 0;
}
} */

/* .updater {
  padding-top: 20rem;
  padding-bottom: 20rem;
}
.updater .updater__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
}
.updater .updater__wrapper > :nth-child(1) {
  order: 2;
}
.updater .updater__wrapper > :nth-child(2) {
  order: 1;
}

.updaterss .updaterss__text h1{
  font-size: 2rem;
 font-weight: 600;
 color: #ffa700;
 line-height: 1;
}


.updater .updater__text h2{
   font-size: 2rem;
  font-weight: 600;
  color: #ffa700;
  line-height: 1;
}
/* .updater.updater__text h1 .img{
  gap: 10rem;
} */
/* .updater .updater__text p {
  margin-top: 3rem;
  margin-bottom: 1rem;
  
  text-align: justify;
}
.updater img {
  width:200rem;
  height: 40rem;
  margin: auto;
  padding-top: 5rem;
}
/* update*/
/* .updater{
  padding-top: 13rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.updater .updater__wrapper{
 display: grid; */
  /* grid-template-columns:1fr 1fr; */
  /* align-items: center;
  gap: 5rem;
}
.updater .updater__text h1 {
  font-size:3rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.updater .updater__text p{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}
.updater .updater__text h2 {
  font-size:2rem;
  font-weight: 530;
  color: #ffa700;
  line-height: 1;} */

  
  

  
/* } */
/* .updater .updater__wrapper a {
  color: #ffa700;
  font-size: 1rem;
}
.updater .updater__wrapper a {
  display: flex;
  gap: 1rem;
}

.updater .updater__wrapper a {
  color: #ffa700;
  font-size: 2rem;
  align-items: center;
}
.updater .updater__wrapper i {
  color: #ffa700;
  font-size: 1rem; */
  /* grid-template-rows: auto; */
 
/* }
.updater .updater__wrapper i {
  display: flex;
  gap: 1rem;
}

.updater .updater__wrapper i {
  color: #2b2b2b;
  font-size: 2rem;
  align-items: center;

} */
 




/* HDIPAYHPIDHPIQAHWDIPWHA */

   
  /* .contact{
    padding-top: 13rem;
    padding-bottom: 5rem;
    background: #2b2b2b;
  }
  .contact .contact__wrapper{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    gap: 5rem;
  }
  .contact .contact__text h1 {
    font-size:5rem;
    font-weight: 800;
    color: #ffa700;
    line-height: 1;
  }
  .contact .contact__text p{
    color: #ffffff;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: justify;
    opacity: .7;
  }
  .contact .contact__wrapper ul li a {
    color: dimgray;
    font-size: 2.5rem;
  }
  .contact .contact__wrapper ul li p {
 display: grid;
 grid-template-columns: 1fr 1fr;
 

  }
  .contact .contact__wrapper ul {
    display: flex;
    gap: 1.25rem;
  }
  .contact .contact__wrapper i {
    display: flex;
    gap: 1rem;
  }
  
  .contact .contact__wrapper i {
    color: #ffa700;
    font-size: 2rem;
    align-items: center;
  
  }
  .contact .contact__social i {
    display: flex;
    gap: 1rem;
  }
  
  .contact .contact__social i {
    color: #ffffff;
    font-size: 2rem;
    align-items: center;
    opacity: .7;
  
  }
  
  @media screen and (max-width:500px){
    .contact{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .contact .contact__wrapper{
      display: grid;
      grid-template-columns: 1fr;
    }
    .contact .contact__text {
      order: 2;
    }
    .contact .contact__text h1{
      font-size: 3rem;
      text-align: center;
    }
    .contact .contact__text a{
      display: flex;
      width: fit-content;
      margin: 0 auto;
    }
   
  } */

  .contact {
    padding: 2rem;
    background-color: #2b2b2b;
    padding-top: 16rem;
    padding-bottom: 5.9rem;
  }
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 2.5rem;
  }
  .contact__wrapper {
    flex: 1;
    margin-right: 6rem;
  }
  .contact__title h2 {
    color: #ff9900;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
  }
  .contact__title p {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .contact__details td {
    color: white; 
  }
  .contact__details td i {
    color: #ffa700; 
  }
  .contact__details td {
    padding: 0 5px; 
    color: white;   
    padding-bottom: 3rem;
  }
  .contact__details td i {
    color: #ffa700 
  }
  .contact__line {
    border: 0;
    border-top: 2px solid #cccccc;
    margin-bottom: 4rem;
  }
  .contact__horizontal ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.25rem;
  }
  .contact__horizontal ul li {
    display: inline-block;
  }
  .contact__horizontal ul li a {
    color: #ffffff;
    font-size: 3rem;
    text-decoration: none;
  }
  .contact__details ul li {
    gap: 3rem;
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
    color: #ffa700;
  }
  .contact .contact__title table tr {
    padding-left: 10rem;
  }
  .contact .contact__title table {
    height: 10rem;
  }
  .contact .contact__horizontal {
    color: #ffffff;
  }
  .contact__details .icon {
    margin-right: 1.25rem;
  }
  .contact__form {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .contact__form label {
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
  }
  .contact__inputs {
    background-color: #f2f2f2;
    border: none;
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    width: 100%;
  }
  .contact__inputs {
    background-color: #f2f2f2;
    border: none;
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    width: 100%;
    border-radius: 10px; 
  }
  .submit {
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    padding: 1rem 3rem; 
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto; 
    display: block;
    text-align: right;
    border-radius: 5rem;
  }
  .submit:hover {
    background-color: #ffffff;
    color: #000000;
  }
  #message {
    height: 200px; 
  }
  .popup.hidden {
    display: none;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background: white;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
  }
  .popup-close {
    background-color: #ff9900;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .popup-close:hover {
    background-color: #e68a00;
  }
  .contact {
    border-bottom: 1px solid #ffffff;
  }
  @media (max-width: 500px) {
    .contact__container{
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
      padding: 0rem;
     
    }
    .contact__title h2 {
      text-align: center;
    }
    .contact__title {
      margin: 0 auto;
      justify-items: justify;
    }
    .contact__title p{
      text-align: center;
      font-size: 1.7rem;
    }
  .contact__horizontal{
    justify-items: center;
  }
    .submit{
      margin: 0 auto
    }
    .contact {
      padding-top: 10rem ;
      padding-bottom: 5rem;
      
    }
    .contact__wrapper {
    margin-right: 0rem;
  }
  .contact__details{
    font-size:1.4rem;
  }
  }


  /* REPEATABLE PATTERNS */
  .backToTop {
   position: fixed;
   z-index: 999;
   bottom: 5rem;
   right: 5rem;
   display: none;
  }
  .backToTop.open {
    display: block;
  }
  .backToTop a{
    background: #ffa700;
    padding: 1rem;
    border-radius: 5rem;
    color: #2b2b2b;
  }
.btn{
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover{
  scale: 1.1;
}
.btn.bg--primary{
  background: #ffa700;
}
.btn.bg--dark{
  background: #2b2b2b;
  color: #ffffff;
}